* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #00deaaa3 0%, #ffc400c4 110%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #f0ebef88;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header {
    background-color: #f0ebef44;
    color: #312d2d;
    padding: 20px;
    text-align: center ;
}
.form {
    padding: 20px;
    font-size: 18px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #fbfafa;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}
.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form button {
    background-color: #73de7799;
    border: 2PX solid#00ff0471;
    color: #fbfafa;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.form button:hover {
    background-color: #00ff04a3;
    border: 2PX solid#73de7799;
    color: #fbfafa;
}   

/* error and success */

.form-control.success input {
    border-color: #2ecc71;
}
.form-control.error input {
    border-color: #ef0707;
}
.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
    color: #ef0707;
    visibility: visible;
}
.form-control.error small {
    color: #ef0707;
    visibility: visible;
}

